<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
<div class="d-flex justify-content-center align-items-center">
    <p class="mb-0">&copy; <%= new Date().getFullYear() %></p>
    <h4 class="ms-2 mb-0"><%= appName %></h4>
    <p class="mb-0 ms-2"> <%= __('footer.rights') %></p>
  </div>
  <script>
    function toggleFilters() {
        const filterForm = document.getElementById('filter-form');
        if (filterForm.style.display === 'none') {
            filterForm.style.display = 'block';
        } else {
            filterForm.style.display = 'none';
        }
    }
</script>
</body>
</html>